--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alerts; Type: TABLE; Schema: public; Owner: venduser
--

CREATE TABLE public.alerts (
    id uuid NOT NULL,
    alert_type character varying(30) NOT NULL,
    severity character varying(20) NOT NULL,
    message text NOT NULL,
    sent_to jsonb NOT NULL,
    is_acknowledged boolean NOT NULL,
    acknowledged_at timestamp with time zone,
    metadata jsonb NOT NULL,
    created_at timestamp with time zone NOT NULL,
    acknowledged_by_id uuid,
    client_id uuid NOT NULL,
    customer_id uuid,
    meter_id uuid
);


ALTER TABLE public.alerts OWNER TO venduser;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: venduser
--

CREATE TABLE public.audit_logs (
    id uuid NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    action character varying(100) NOT NULL,
    object_type character varying(50) NOT NULL,
    object_id character varying(100) NOT NULL,
    details jsonb NOT NULL,
    ip_address inet,
    user_agent text NOT NULL,
    actor_id uuid
);


ALTER TABLE public.audit_logs OWNER TO venduser;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: venduser
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO venduser;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: venduser
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: venduser
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO venduser;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: venduser
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: venduser
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO venduser;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: venduser
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: clients; Type: TABLE; Schema: public; Owner: venduser
--

CREATE TABLE public.clients (
    id uuid NOT NULL,
    name character varying(255) NOT NULL,
    company_info text NOT NULL,
    paybill_number character varying(20) NOT NULL,
    stronpower_company_name text,
    stronpower_username text,
    stronpower_password text,
    billing_info jsonb NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.clients OWNER TO venduser;

--
-- Name: customers; Type: TABLE; Schema: public; Owner: venduser
--

CREATE TABLE public.customers (
    id uuid NOT NULL,
    customer_id character varying(100) NOT NULL,
    name character varying(255) NOT NULL,
    phone character varying(20) NOT NULL,
    email character varying(254) NOT NULL,
    address text NOT NULL,
    id_number character varying(50) NOT NULL,
    is_active boolean NOT NULL,
    metadata jsonb NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    client_id uuid NOT NULL
);


ALTER TABLE public.customers OWNER TO venduser;

--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: venduser
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id uuid NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO venduser;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: venduser
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_celery_beat_clockedschedule; Type: TABLE; Schema: public; Owner: venduser
--

CREATE TABLE public.django_celery_beat_clockedschedule (
    id integer NOT NULL,
    clocked_time timestamp with time zone NOT NULL
);


ALTER TABLE public.django_celery_beat_clockedschedule OWNER TO venduser;

--
-- Name: django_celery_beat_clockedschedule_id_seq; Type: SEQUENCE; Schema: public; Owner: venduser
--

ALTER TABLE public.django_celery_beat_clockedschedule ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_celery_beat_clockedschedule_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_celery_beat_crontabschedule; Type: TABLE; Schema: public; Owner: venduser
--

CREATE TABLE public.django_celery_beat_crontabschedule (
    id integer NOT NULL,
    minute character varying(240) NOT NULL,
    hour character varying(96) NOT NULL,
    day_of_week character varying(64) NOT NULL,
    day_of_month character varying(124) NOT NULL,
    month_of_year character varying(64) NOT NULL,
    timezone character varying(63) NOT NULL
);


ALTER TABLE public.django_celery_beat_crontabschedule OWNER TO venduser;

--
-- Name: django_celery_beat_crontabschedule_id_seq; Type: SEQUENCE; Schema: public; Owner: venduser
--

ALTER TABLE public.django_celery_beat_crontabschedule ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_celery_beat_crontabschedule_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_celery_beat_intervalschedule; Type: TABLE; Schema: public; Owner: venduser
--

CREATE TABLE public.django_celery_beat_intervalschedule (
    id integer NOT NULL,
    every integer NOT NULL,
    period character varying(24) NOT NULL
);


ALTER TABLE public.django_celery_beat_intervalschedule OWNER TO venduser;

--
-- Name: django_celery_beat_intervalschedule_id_seq; Type: SEQUENCE; Schema: public; Owner: venduser
--

ALTER TABLE public.django_celery_beat_intervalschedule ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_celery_beat_intervalschedule_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_celery_beat_periodictask; Type: TABLE; Schema: public; Owner: venduser
--

CREATE TABLE public.django_celery_beat_periodictask (
    id integer NOT NULL,
    name character varying(200) NOT NULL,
    task character varying(200) NOT NULL,
    args text NOT NULL,
    kwargs text NOT NULL,
    queue character varying(200),
    exchange character varying(200),
    routing_key character varying(200),
    expires timestamp with time zone,
    enabled boolean NOT NULL,
    last_run_at timestamp with time zone,
    total_run_count integer NOT NULL,
    date_changed timestamp with time zone NOT NULL,
    description text NOT NULL,
    crontab_id integer,
    interval_id integer,
    solar_id integer,
    one_off boolean NOT NULL,
    start_time timestamp with time zone,
    priority integer,
    headers text NOT NULL,
    clocked_id integer,
    expire_seconds integer,
    CONSTRAINT django_celery_beat_periodictask_expire_seconds_check CHECK ((expire_seconds >= 0)),
    CONSTRAINT django_celery_beat_periodictask_priority_check CHECK ((priority >= 0)),
    CONSTRAINT django_celery_beat_periodictask_total_run_count_check CHECK ((total_run_count >= 0))
);


ALTER TABLE public.django_celery_beat_periodictask OWNER TO venduser;

--
-- Name: django_celery_beat_periodictask_id_seq; Type: SEQUENCE; Schema: public; Owner: venduser
--

ALTER TABLE public.django_celery_beat_periodictask ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_celery_beat_periodictask_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_celery_beat_periodictasks; Type: TABLE; Schema: public; Owner: venduser
--

CREATE TABLE public.django_celery_beat_periodictasks (
    ident smallint NOT NULL,
    last_update timestamp with time zone NOT NULL
);


ALTER TABLE public.django_celery_beat_periodictasks OWNER TO venduser;

--
-- Name: django_celery_beat_solarschedule; Type: TABLE; Schema: public; Owner: venduser
--

CREATE TABLE public.django_celery_beat_solarschedule (
    id integer NOT NULL,
    event character varying(24) NOT NULL,
    latitude numeric(9,6) NOT NULL,
    longitude numeric(9,6) NOT NULL
);


ALTER TABLE public.django_celery_beat_solarschedule OWNER TO venduser;

--
-- Name: django_celery_beat_solarschedule_id_seq; Type: SEQUENCE; Schema: public; Owner: venduser
--

ALTER TABLE public.django_celery_beat_solarschedule ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_celery_beat_solarschedule_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_celery_results_chordcounter; Type: TABLE; Schema: public; Owner: venduser
--

CREATE TABLE public.django_celery_results_chordcounter (
    id integer NOT NULL,
    group_id character varying(255) NOT NULL,
    sub_tasks text NOT NULL,
    count integer NOT NULL,
    CONSTRAINT django_celery_results_chordcounter_count_check CHECK ((count >= 0))
);


ALTER TABLE public.django_celery_results_chordcounter OWNER TO venduser;

--
-- Name: django_celery_results_chordcounter_id_seq; Type: SEQUENCE; Schema: public; Owner: venduser
--

ALTER TABLE public.django_celery_results_chordcounter ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_celery_results_chordcounter_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_celery_results_groupresult; Type: TABLE; Schema: public; Owner: venduser
--

CREATE TABLE public.django_celery_results_groupresult (
    id integer NOT NULL,
    group_id character varying(255) NOT NULL,
    date_created timestamp with time zone NOT NULL,
    date_done timestamp with time zone NOT NULL,
    content_type character varying(128) NOT NULL,
    content_encoding character varying(64) NOT NULL,
    result text
);


ALTER TABLE public.django_celery_results_groupresult OWNER TO venduser;

--
-- Name: django_celery_results_groupresult_id_seq; Type: SEQUENCE; Schema: public; Owner: venduser
--

ALTER TABLE public.django_celery_results_groupresult ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_celery_results_groupresult_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_celery_results_taskresult; Type: TABLE; Schema: public; Owner: venduser
--

CREATE TABLE public.django_celery_results_taskresult (
    id integer NOT NULL,
    task_id character varying(255) NOT NULL,
    status character varying(50) NOT NULL,
    content_type character varying(128) NOT NULL,
    content_encoding character varying(64) NOT NULL,
    result text,
    date_done timestamp with time zone NOT NULL,
    traceback text,
    meta text,
    task_args text,
    task_kwargs text,
    task_name character varying(255),
    worker character varying(100),
    date_created timestamp with time zone NOT NULL,
    periodic_task_name character varying(255),
    date_started timestamp with time zone
);


ALTER TABLE public.django_celery_results_taskresult OWNER TO venduser;

--
-- Name: django_celery_results_taskresult_id_seq; Type: SEQUENCE; Schema: public; Owner: venduser
--

ALTER TABLE public.django_celery_results_taskresult ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_celery_results_taskresult_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: venduser
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO venduser;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: venduser
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: venduser
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO venduser;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: venduser
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: venduser
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO venduser;

--
-- Name: meter_assignments; Type: TABLE; Schema: public; Owner: venduser
--

CREATE TABLE public.meter_assignments (
    id uuid NOT NULL,
    assigned_on timestamp with time zone NOT NULL,
    is_active boolean NOT NULL,
    deactivated_on timestamp with time zone,
    customer_id uuid NOT NULL,
    meter_id uuid NOT NULL
);


ALTER TABLE public.meter_assignments OWNER TO venduser;

--
-- Name: meters; Type: TABLE; Schema: public; Owner: venduser
--

CREATE TABLE public.meters (
    id uuid NOT NULL,
    meter_id character varying(50) NOT NULL,
    meter_type character varying(100) NOT NULL,
    location character varying(255) NOT NULL,
    status character varying(20) NOT NULL,
    firmware_version character varying(50) NOT NULL,
    serial_number character varying(100) NOT NULL,
    installed_on date,
    last_seen timestamp with time zone,
    last_tamper_event timestamp with time zone,
    metadata jsonb NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    client_id uuid NOT NULL
);


ALTER TABLE public.meters OWNER TO venduser;

--
-- Name: payment_notifications; Type: TABLE; Schema: public; Owner: venduser
--

CREATE TABLE public.payment_notifications (
    id uuid NOT NULL,
    mpesa_transaction_id character varying(100) NOT NULL,
    amount numeric(10,2) NOT NULL,
    paybill character varying(20) NOT NULL,
    account_number character varying(100) NOT NULL,
    phone character varying(20) NOT NULL,
    status character varying(20) NOT NULL,
    raw_payload jsonb NOT NULL,
    error_message text NOT NULL,
    received_at timestamp with time zone NOT NULL,
    processed_at timestamp with time zone,
    client_id uuid,
    customer_id uuid
);


ALTER TABLE public.payment_notifications OWNER TO venduser;

--
-- Name: tokens; Type: TABLE; Schema: public; Owner: venduser
--

CREATE TABLE public.tokens (
    id uuid NOT NULL,
    token_value character varying(255) NOT NULL,
    token_type character varying(20) NOT NULL,
    amount numeric(10,2),
    units numeric(10,2),
    is_vend_by_unit boolean NOT NULL,
    status character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    delivered_at timestamp with time zone,
    expires_at timestamp with time zone,
    customer_id uuid NOT NULL,
    issued_by_id uuid,
    meter_id uuid NOT NULL,
    payment_id uuid
);


ALTER TABLE public.tokens OWNER TO venduser;

--
-- Name: users; Type: TABLE; Schema: public; Owner: venduser
--

CREATE TABLE public.users (
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    id uuid NOT NULL,
    email character varying(254) NOT NULL,
    role character varying(20) NOT NULL,
    phone character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    client_id uuid
);


ALTER TABLE public.users OWNER TO venduser;

--
-- Name: users_groups; Type: TABLE; Schema: public; Owner: venduser
--

CREATE TABLE public.users_groups (
    id bigint NOT NULL,
    user_id uuid NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.users_groups OWNER TO venduser;

--
-- Name: users_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: venduser
--

ALTER TABLE public.users_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user_permissions; Type: TABLE; Schema: public; Owner: venduser
--

CREATE TABLE public.users_user_permissions (
    id bigint NOT NULL,
    user_id uuid NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.users_user_permissions OWNER TO venduser;

--
-- Name: users_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: venduser
--

ALTER TABLE public.users_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: vending_requests; Type: TABLE; Schema: public; Owner: venduser
--

CREATE TABLE public.vending_requests (
    id uuid NOT NULL,
    idempotency_key character varying(100) NOT NULL,
    request_payload jsonb NOT NULL,
    response_payload jsonb NOT NULL,
    status character varying(20) NOT NULL,
    attempt_count integer NOT NULL,
    error_message text NOT NULL,
    sent_at timestamp with time zone,
    received_at timestamp with time zone,
    next_retry_at timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    payment_id uuid NOT NULL,
    token_id uuid
);


ALTER TABLE public.vending_requests OWNER TO venduser;

--
-- Name: alerts alerts_pkey; Type: CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: clients clients_paybill_number_key; Type: CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT clients_paybill_number_key UNIQUE (paybill_number);


--
-- Name: clients clients_pkey; Type: CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT clients_pkey PRIMARY KEY (id);


--
-- Name: customers customers_client_id_customer_id_311b3289_uniq; Type: CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_client_id_customer_id_311b3289_uniq UNIQUE (client_id, customer_id);


--
-- Name: customers customers_pkey; Type: CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_celery_beat_clockedschedule django_celery_beat_clockedschedule_pkey; Type: CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.django_celery_beat_clockedschedule
    ADD CONSTRAINT django_celery_beat_clockedschedule_pkey PRIMARY KEY (id);


--
-- Name: django_celery_beat_crontabschedule django_celery_beat_crontabschedule_pkey; Type: CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.django_celery_beat_crontabschedule
    ADD CONSTRAINT django_celery_beat_crontabschedule_pkey PRIMARY KEY (id);


--
-- Name: django_celery_beat_intervalschedule django_celery_beat_intervalschedule_pkey; Type: CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.django_celery_beat_intervalschedule
    ADD CONSTRAINT django_celery_beat_intervalschedule_pkey PRIMARY KEY (id);


--
-- Name: django_celery_beat_periodictask django_celery_beat_periodictask_name_key; Type: CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.django_celery_beat_periodictask
    ADD CONSTRAINT django_celery_beat_periodictask_name_key UNIQUE (name);


--
-- Name: django_celery_beat_periodictask django_celery_beat_periodictask_pkey; Type: CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.django_celery_beat_periodictask
    ADD CONSTRAINT django_celery_beat_periodictask_pkey PRIMARY KEY (id);


--
-- Name: django_celery_beat_periodictasks django_celery_beat_periodictasks_pkey; Type: CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.django_celery_beat_periodictasks
    ADD CONSTRAINT django_celery_beat_periodictasks_pkey PRIMARY KEY (ident);


--
-- Name: django_celery_beat_solarschedule django_celery_beat_solar_event_latitude_longitude_ba64999a_uniq; Type: CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.django_celery_beat_solarschedule
    ADD CONSTRAINT django_celery_beat_solar_event_latitude_longitude_ba64999a_uniq UNIQUE (event, latitude, longitude);


--
-- Name: django_celery_beat_solarschedule django_celery_beat_solarschedule_pkey; Type: CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.django_celery_beat_solarschedule
    ADD CONSTRAINT django_celery_beat_solarschedule_pkey PRIMARY KEY (id);


--
-- Name: django_celery_results_chordcounter django_celery_results_chordcounter_group_id_key; Type: CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.django_celery_results_chordcounter
    ADD CONSTRAINT django_celery_results_chordcounter_group_id_key UNIQUE (group_id);


--
-- Name: django_celery_results_chordcounter django_celery_results_chordcounter_pkey; Type: CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.django_celery_results_chordcounter
    ADD CONSTRAINT django_celery_results_chordcounter_pkey PRIMARY KEY (id);


--
-- Name: django_celery_results_groupresult django_celery_results_groupresult_group_id_key; Type: CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.django_celery_results_groupresult
    ADD CONSTRAINT django_celery_results_groupresult_group_id_key UNIQUE (group_id);


--
-- Name: django_celery_results_groupresult django_celery_results_groupresult_pkey; Type: CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.django_celery_results_groupresult
    ADD CONSTRAINT django_celery_results_groupresult_pkey PRIMARY KEY (id);


--
-- Name: django_celery_results_taskresult django_celery_results_taskresult_pkey; Type: CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.django_celery_results_taskresult
    ADD CONSTRAINT django_celery_results_taskresult_pkey PRIMARY KEY (id);


--
-- Name: django_celery_results_taskresult django_celery_results_taskresult_task_id_key; Type: CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.django_celery_results_taskresult
    ADD CONSTRAINT django_celery_results_taskresult_task_id_key UNIQUE (task_id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: meter_assignments meter_assignments_meter_id_customer_id_is_active_40b80cd5_uniq; Type: CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.meter_assignments
    ADD CONSTRAINT meter_assignments_meter_id_customer_id_is_active_40b80cd5_uniq UNIQUE (meter_id, customer_id, is_active);


--
-- Name: meter_assignments meter_assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.meter_assignments
    ADD CONSTRAINT meter_assignments_pkey PRIMARY KEY (id);


--
-- Name: meters meters_meter_id_key; Type: CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.meters
    ADD CONSTRAINT meters_meter_id_key UNIQUE (meter_id);


--
-- Name: meters meters_pkey; Type: CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.meters
    ADD CONSTRAINT meters_pkey PRIMARY KEY (id);


--
-- Name: payment_notifications payment_notifications_mpesa_transaction_id_key; Type: CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.payment_notifications
    ADD CONSTRAINT payment_notifications_mpesa_transaction_id_key UNIQUE (mpesa_transaction_id);


--
-- Name: payment_notifications payment_notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.payment_notifications
    ADD CONSTRAINT payment_notifications_pkey PRIMARY KEY (id);


--
-- Name: tokens tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.tokens
    ADD CONSTRAINT tokens_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users_groups users_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.users_groups
    ADD CONSTRAINT users_groups_pkey PRIMARY KEY (id);


--
-- Name: users_groups users_groups_user_id_group_id_fc7788e8_uniq; Type: CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.users_groups
    ADD CONSTRAINT users_groups_user_id_group_id_fc7788e8_uniq UNIQUE (user_id, group_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users_user_permissions users_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.users_user_permissions
    ADD CONSTRAINT users_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: users_user_permissions users_user_permissions_user_id_permission_id_3b86cbdf_uniq; Type: CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.users_user_permissions
    ADD CONSTRAINT users_user_permissions_user_id_permission_id_3b86cbdf_uniq UNIQUE (user_id, permission_id);


--
-- Name: vending_requests vending_requests_idempotency_key_key; Type: CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.vending_requests
    ADD CONSTRAINT vending_requests_idempotency_key_key UNIQUE (idempotency_key);


--
-- Name: vending_requests vending_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.vending_requests
    ADD CONSTRAINT vending_requests_pkey PRIMARY KEY (id);


--
-- Name: vending_requests vending_requests_token_id_key; Type: CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.vending_requests
    ADD CONSTRAINT vending_requests_token_id_key UNIQUE (token_id);


--
-- Name: alerts_acknowledged_by_id_8dd9034a; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX alerts_acknowledged_by_id_8dd9034a ON public.alerts USING btree (acknowledged_by_id);


--
-- Name: alerts_alert_t_cb4af9_idx; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX alerts_alert_t_cb4af9_idx ON public.alerts USING btree (alert_type, severity);


--
-- Name: alerts_client__753198_idx; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX alerts_client__753198_idx ON public.alerts USING btree (client_id, is_acknowledged);


--
-- Name: alerts_client_id_9782e864; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX alerts_client_id_9782e864 ON public.alerts USING btree (client_id);


--
-- Name: alerts_created_965da5_idx; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX alerts_created_965da5_idx ON public.alerts USING btree (created_at);


--
-- Name: alerts_customer_id_d53a367a; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX alerts_customer_id_d53a367a ON public.alerts USING btree (customer_id);


--
-- Name: alerts_meter_id_474c9515; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX alerts_meter_id_474c9515 ON public.alerts USING btree (meter_id);


--
-- Name: audit_logs_actor_i_5bd818_idx; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX audit_logs_actor_i_5bd818_idx ON public.audit_logs USING btree (actor_id, created_at);


--
-- Name: audit_logs_actor_id_303d1495; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX audit_logs_actor_id_303d1495 ON public.audit_logs USING btree (actor_id);


--
-- Name: audit_logs_created_262184_idx; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX audit_logs_created_262184_idx ON public.audit_logs USING btree (created_at);


--
-- Name: audit_logs_object__457405_idx; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX audit_logs_object__457405_idx ON public.audit_logs USING btree (object_type, object_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: clients_is_acti_43299d_idx; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX clients_is_acti_43299d_idx ON public.clients USING btree (is_active);


--
-- Name: clients_paybill_69b0f6_idx; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX clients_paybill_69b0f6_idx ON public.clients USING btree (paybill_number);


--
-- Name: clients_paybill_number_c33a4232_like; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX clients_paybill_number_c33a4232_like ON public.clients USING btree (paybill_number varchar_pattern_ops);


--
-- Name: customers_client__1b2925_idx; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX customers_client__1b2925_idx ON public.customers USING btree (client_id, phone);


--
-- Name: customers_client_id_f986d38b; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX customers_client_id_f986d38b ON public.customers USING btree (client_id);


--
-- Name: customers_custome_b85ebb_idx; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX customers_custome_b85ebb_idx ON public.customers USING btree (customer_id);


--
-- Name: customers_customer_id_6b600f3d; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX customers_customer_id_6b600f3d ON public.customers USING btree (customer_id);


--
-- Name: customers_customer_id_6b600f3d_like; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX customers_customer_id_6b600f3d_like ON public.customers USING btree (customer_id varchar_pattern_ops);


--
-- Name: customers_phone_91048b_idx; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX customers_phone_91048b_idx ON public.customers USING btree (phone);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_cele_date_cr_bd6c1d_idx; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX django_cele_date_cr_bd6c1d_idx ON public.django_celery_results_groupresult USING btree (date_created);


--
-- Name: django_cele_date_cr_f04a50_idx; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX django_cele_date_cr_f04a50_idx ON public.django_celery_results_taskresult USING btree (date_created);


--
-- Name: django_cele_date_do_caae0e_idx; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX django_cele_date_do_caae0e_idx ON public.django_celery_results_groupresult USING btree (date_done);


--
-- Name: django_cele_date_do_f59aad_idx; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX django_cele_date_do_f59aad_idx ON public.django_celery_results_taskresult USING btree (date_done);


--
-- Name: django_cele_periodi_1993cf_idx; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX django_cele_periodi_1993cf_idx ON public.django_celery_results_taskresult USING btree (periodic_task_name);


--
-- Name: django_cele_status_9b6201_idx; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX django_cele_status_9b6201_idx ON public.django_celery_results_taskresult USING btree (status);


--
-- Name: django_cele_task_na_08aec9_idx; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX django_cele_task_na_08aec9_idx ON public.django_celery_results_taskresult USING btree (task_name);


--
-- Name: django_cele_worker_d54dd8_idx; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX django_cele_worker_d54dd8_idx ON public.django_celery_results_taskresult USING btree (worker);


--
-- Name: django_celery_beat_periodictask_clocked_id_47a69f82; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX django_celery_beat_periodictask_clocked_id_47a69f82 ON public.django_celery_beat_periodictask USING btree (clocked_id);


--
-- Name: django_celery_beat_periodictask_crontab_id_d3cba168; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX django_celery_beat_periodictask_crontab_id_d3cba168 ON public.django_celery_beat_periodictask USING btree (crontab_id);


--
-- Name: django_celery_beat_periodictask_interval_id_a8ca27da; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX django_celery_beat_periodictask_interval_id_a8ca27da ON public.django_celery_beat_periodictask USING btree (interval_id);


--
-- Name: django_celery_beat_periodictask_name_265a36b7_like; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX django_celery_beat_periodictask_name_265a36b7_like ON public.django_celery_beat_periodictask USING btree (name varchar_pattern_ops);


--
-- Name: django_celery_beat_periodictask_solar_id_a87ce72c; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX django_celery_beat_periodictask_solar_id_a87ce72c ON public.django_celery_beat_periodictask USING btree (solar_id);


--
-- Name: django_celery_results_chordcounter_group_id_1f70858c_like; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX django_celery_results_chordcounter_group_id_1f70858c_like ON public.django_celery_results_chordcounter USING btree (group_id varchar_pattern_ops);


--
-- Name: django_celery_results_groupresult_group_id_a085f1a9_like; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX django_celery_results_groupresult_group_id_a085f1a9_like ON public.django_celery_results_groupresult USING btree (group_id varchar_pattern_ops);


--
-- Name: django_celery_results_taskresult_task_id_de0d95bf_like; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX django_celery_results_taskresult_task_id_de0d95bf_like ON public.django_celery_results_taskresult USING btree (task_id varchar_pattern_ops);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: meter_assig_custome_ce72b9_idx; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX meter_assig_custome_ce72b9_idx ON public.meter_assignments USING btree (customer_id, is_active);


--
-- Name: meter_assig_meter_i_cc6a2b_idx; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX meter_assig_meter_i_cc6a2b_idx ON public.meter_assignments USING btree (meter_id, is_active);


--
-- Name: meter_assignments_customer_id_80e25362; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX meter_assignments_customer_id_80e25362 ON public.meter_assignments USING btree (customer_id);


--
-- Name: meter_assignments_meter_id_f9601011; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX meter_assignments_meter_id_f9601011 ON public.meter_assignments USING btree (meter_id);


--
-- Name: meters_client__3d5998_idx; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX meters_client__3d5998_idx ON public.meters USING btree (client_id, status);


--
-- Name: meters_client_id_351e6cbe; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX meters_client_id_351e6cbe ON public.meters USING btree (client_id);


--
-- Name: meters_meter_i_f83a96_idx; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX meters_meter_i_f83a96_idx ON public.meters USING btree (meter_id);


--
-- Name: meters_meter_id_2b13ed74_like; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX meters_meter_id_2b13ed74_like ON public.meters USING btree (meter_id varchar_pattern_ops);


--
-- Name: meters_status_3e5e26_idx; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX meters_status_3e5e26_idx ON public.meters USING btree (status);


--
-- Name: payment_not_client__beac70_idx; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX payment_not_client__beac70_idx ON public.payment_notifications USING btree (client_id, status);


--
-- Name: payment_not_mpesa_t_096cba_idx; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX payment_not_mpesa_t_096cba_idx ON public.payment_notifications USING btree (mpesa_transaction_id);


--
-- Name: payment_not_status_6c07d6_idx; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX payment_not_status_6c07d6_idx ON public.payment_notifications USING btree (status, received_at);


--
-- Name: payment_notifications_client_id_9f790364; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX payment_notifications_client_id_9f790364 ON public.payment_notifications USING btree (client_id);


--
-- Name: payment_notifications_customer_id_f8c2b37c; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX payment_notifications_customer_id_f8c2b37c ON public.payment_notifications USING btree (customer_id);


--
-- Name: payment_notifications_mpesa_transaction_id_f6fe3833_like; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX payment_notifications_mpesa_transaction_id_f6fe3833_like ON public.payment_notifications USING btree (mpesa_transaction_id varchar_pattern_ops);


--
-- Name: tokens_custome_975585_idx; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX tokens_custome_975585_idx ON public.tokens USING btree (customer_id, created_at);


--
-- Name: tokens_customer_id_b7f0e9b9; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX tokens_customer_id_b7f0e9b9 ON public.tokens USING btree (customer_id);


--
-- Name: tokens_issued_by_id_8c74f46b; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX tokens_issued_by_id_8c74f46b ON public.tokens USING btree (issued_by_id);


--
-- Name: tokens_meter_i_6da46e_idx; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX tokens_meter_i_6da46e_idx ON public.tokens USING btree (meter_id, status);


--
-- Name: tokens_meter_id_f05c754b; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX tokens_meter_id_f05c754b ON public.tokens USING btree (meter_id);


--
-- Name: tokens_payment_id_a155382e; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX tokens_payment_id_a155382e ON public.tokens USING btree (payment_id);


--
-- Name: tokens_status_0bafa4_idx; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX tokens_status_0bafa4_idx ON public.tokens USING btree (status);


--
-- Name: users_client_id_26cc134a; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX users_client_id_26cc134a ON public.users USING btree (client_id);


--
-- Name: users_email_0ea73cca_like; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX users_email_0ea73cca_like ON public.users USING btree (email varchar_pattern_ops);


--
-- Name: users_email_4b85f2_idx; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX users_email_4b85f2_idx ON public.users USING btree (email);


--
-- Name: users_groups_group_id_2f3517aa; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX users_groups_group_id_2f3517aa ON public.users_groups USING btree (group_id);


--
-- Name: users_groups_user_id_f500bee5; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX users_groups_user_id_f500bee5 ON public.users_groups USING btree (user_id);


--
-- Name: users_role_0ace22_idx; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX users_role_0ace22_idx ON public.users USING btree (role);


--
-- Name: users_user_permissions_permission_id_6d08dcd2; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX users_user_permissions_permission_id_6d08dcd2 ON public.users_user_permissions USING btree (permission_id);


--
-- Name: users_user_permissions_user_id_92473840; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX users_user_permissions_user_id_92473840 ON public.users_user_permissions USING btree (user_id);


--
-- Name: vending_req_idempot_4ab768_idx; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX vending_req_idempot_4ab768_idx ON public.vending_requests USING btree (idempotency_key);


--
-- Name: vending_req_payment_716b02_idx; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX vending_req_payment_716b02_idx ON public.vending_requests USING btree (payment_id);


--
-- Name: vending_req_status_3d7174_idx; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX vending_req_status_3d7174_idx ON public.vending_requests USING btree (status, next_retry_at);


--
-- Name: vending_requests_idempotency_key_5a0d238d_like; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX vending_requests_idempotency_key_5a0d238d_like ON public.vending_requests USING btree (idempotency_key varchar_pattern_ops);


--
-- Name: vending_requests_payment_id_892fb924; Type: INDEX; Schema: public; Owner: venduser
--

CREATE INDEX vending_requests_payment_id_892fb924 ON public.vending_requests USING btree (payment_id);


--
-- Name: alerts alerts_acknowledged_by_id_8dd9034a_fk_users_id; Type: FK CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_acknowledged_by_id_8dd9034a_fk_users_id FOREIGN KEY (acknowledged_by_id) REFERENCES public.users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: alerts alerts_client_id_9782e864_fk_clients_id; Type: FK CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_client_id_9782e864_fk_clients_id FOREIGN KEY (client_id) REFERENCES public.clients(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: alerts alerts_customer_id_d53a367a_fk_customers_id; Type: FK CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_customer_id_d53a367a_fk_customers_id FOREIGN KEY (customer_id) REFERENCES public.customers(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: alerts alerts_meter_id_474c9515_fk_meters_id; Type: FK CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_meter_id_474c9515_fk_meters_id FOREIGN KEY (meter_id) REFERENCES public.meters(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: audit_logs audit_logs_actor_id_303d1495_fk_users_id; Type: FK CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_actor_id_303d1495_fk_users_id FOREIGN KEY (actor_id) REFERENCES public.users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: customers customers_client_id_f986d38b_fk_clients_id; Type: FK CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_client_id_f986d38b_fk_clients_id FOREIGN KEY (client_id) REFERENCES public.clients(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_users_id; Type: FK CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_users_id FOREIGN KEY (user_id) REFERENCES public.users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_celery_beat_periodictask django_celery_beat_p_clocked_id_47a69f82_fk_django_ce; Type: FK CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.django_celery_beat_periodictask
    ADD CONSTRAINT django_celery_beat_p_clocked_id_47a69f82_fk_django_ce FOREIGN KEY (clocked_id) REFERENCES public.django_celery_beat_clockedschedule(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_celery_beat_periodictask django_celery_beat_p_crontab_id_d3cba168_fk_django_ce; Type: FK CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.django_celery_beat_periodictask
    ADD CONSTRAINT django_celery_beat_p_crontab_id_d3cba168_fk_django_ce FOREIGN KEY (crontab_id) REFERENCES public.django_celery_beat_crontabschedule(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_celery_beat_periodictask django_celery_beat_p_interval_id_a8ca27da_fk_django_ce; Type: FK CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.django_celery_beat_periodictask
    ADD CONSTRAINT django_celery_beat_p_interval_id_a8ca27da_fk_django_ce FOREIGN KEY (interval_id) REFERENCES public.django_celery_beat_intervalschedule(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_celery_beat_periodictask django_celery_beat_p_solar_id_a87ce72c_fk_django_ce; Type: FK CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.django_celery_beat_periodictask
    ADD CONSTRAINT django_celery_beat_p_solar_id_a87ce72c_fk_django_ce FOREIGN KEY (solar_id) REFERENCES public.django_celery_beat_solarschedule(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: meter_assignments meter_assignments_customer_id_80e25362_fk_customers_id; Type: FK CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.meter_assignments
    ADD CONSTRAINT meter_assignments_customer_id_80e25362_fk_customers_id FOREIGN KEY (customer_id) REFERENCES public.customers(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: meter_assignments meter_assignments_meter_id_f9601011_fk_meters_id; Type: FK CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.meter_assignments
    ADD CONSTRAINT meter_assignments_meter_id_f9601011_fk_meters_id FOREIGN KEY (meter_id) REFERENCES public.meters(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: meters meters_client_id_351e6cbe_fk_clients_id; Type: FK CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.meters
    ADD CONSTRAINT meters_client_id_351e6cbe_fk_clients_id FOREIGN KEY (client_id) REFERENCES public.clients(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: payment_notifications payment_notifications_client_id_9f790364_fk_clients_id; Type: FK CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.payment_notifications
    ADD CONSTRAINT payment_notifications_client_id_9f790364_fk_clients_id FOREIGN KEY (client_id) REFERENCES public.clients(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: payment_notifications payment_notifications_customer_id_f8c2b37c_fk_customers_id; Type: FK CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.payment_notifications
    ADD CONSTRAINT payment_notifications_customer_id_f8c2b37c_fk_customers_id FOREIGN KEY (customer_id) REFERENCES public.customers(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tokens tokens_customer_id_b7f0e9b9_fk_customers_id; Type: FK CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.tokens
    ADD CONSTRAINT tokens_customer_id_b7f0e9b9_fk_customers_id FOREIGN KEY (customer_id) REFERENCES public.customers(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tokens tokens_issued_by_id_8c74f46b_fk_users_id; Type: FK CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.tokens
    ADD CONSTRAINT tokens_issued_by_id_8c74f46b_fk_users_id FOREIGN KEY (issued_by_id) REFERENCES public.users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tokens tokens_meter_id_f05c754b_fk_meters_id; Type: FK CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.tokens
    ADD CONSTRAINT tokens_meter_id_f05c754b_fk_meters_id FOREIGN KEY (meter_id) REFERENCES public.meters(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tokens tokens_payment_id_a155382e_fk_payment_notifications_id; Type: FK CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.tokens
    ADD CONSTRAINT tokens_payment_id_a155382e_fk_payment_notifications_id FOREIGN KEY (payment_id) REFERENCES public.payment_notifications(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users users_client_id_26cc134a_fk_clients_id; Type: FK CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_client_id_26cc134a_fk_clients_id FOREIGN KEY (client_id) REFERENCES public.clients(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_groups users_groups_group_id_2f3517aa_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.users_groups
    ADD CONSTRAINT users_groups_group_id_2f3517aa_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_groups users_groups_user_id_f500bee5_fk_users_id; Type: FK CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.users_groups
    ADD CONSTRAINT users_groups_user_id_f500bee5_fk_users_id FOREIGN KEY (user_id) REFERENCES public.users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_permissions users_user_permissio_permission_id_6d08dcd2_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.users_user_permissions
    ADD CONSTRAINT users_user_permissio_permission_id_6d08dcd2_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_permissions users_user_permissions_user_id_92473840_fk_users_id; Type: FK CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.users_user_permissions
    ADD CONSTRAINT users_user_permissions_user_id_92473840_fk_users_id FOREIGN KEY (user_id) REFERENCES public.users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: vending_requests vending_requests_payment_id_892fb924_fk_payment_n; Type: FK CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.vending_requests
    ADD CONSTRAINT vending_requests_payment_id_892fb924_fk_payment_n FOREIGN KEY (payment_id) REFERENCES public.payment_notifications(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: vending_requests vending_requests_token_id_9c446356_fk_tokens_id; Type: FK CONSTRAINT; Schema: public; Owner: venduser
--

ALTER TABLE ONLY public.vending_requests
    ADD CONSTRAINT vending_requests_token_id_9c446356_fk_tokens_id FOREIGN KEY (token_id) REFERENCES public.tokens(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

